.footer-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 2vw 0;
    background-color: maroon;
}

.footer-container h2
{
    margin: 0;
    color: white;
    font-size: 1.3vw;
}

.footer-container h3
{
    margin: 0;
    margin-bottom: 0.5vw;
    color: gold;
    font-size: 1.1vw;
}

.footer-container hr
{
    margin-bottom: 1vw;
    width: 95%;
}

.footer-container p
{
    margin: 0;
    color: white;
    font-size: 1vw;
}