.header-container
{
    display: flex;
    width: 100%;
    align-items: center;
    padding: 0.7vw 1vw;
    gap: 1vw;
}

.header-container img
{
    width: 4vw;
}

.header-container a
{
    text-decoration: none;
}

.header-text
{
    display: flex;
    flex-direction: column;
}

.header-text h1
{
    margin: 0;
    font-size: 1.7vw;
    color: maroon;
}

.header-text h2
{
    margin: 0;
    font-size: 1.2vw;
    color: gold;
}

.header-space
{
    width: 55%;
}

.header-buttons
{
    display: flex;
    justify-self: flex-end;
    gap: 1vw;
}

.header-buttons a
{
    font-weight: 600;
    font-size: 1vw;
    padding: 0.5vw 1vw;
    border: 0.2vw solid maroon;
    border-radius: 0.5vw;
}

.header-buttons a:first-child
{
    color: maroon;
}

.header-buttons a:first-child:hover
{
    background-color: #EEE;
}

.header-buttons a:last-child
{
    color: white;
    background-color: maroon;
}

.header-buttons a:last-child:hover
{
    color: gold;
}