.home-container
{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.hero
{
    display: flex;
    width: 100%;
    padding: 2vw;
    background-color: #b92e34;
    background-image: linear-gradient(326deg, #b92e34 0%, #3d0c02 74%);
    height: 30vw;
}

.hero div:first-child
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding: 2vw;
}

.hero div:first-child h1
{
    margin: 0;
    color: gold;
    font-size: 2.5vw;
}

.hero div:first-child h2
{
    margin: 0;
    margin-bottom: 0.5vw;
    color: white;
    font-size: 1.8vw;
}

.hero div:first-child hr
{
    width: 100%;
    margin-bottom: 1vw;
    border: 1px solid gold;
}

.hero div:first-child p
{
    margin: 0;
    margin-bottom: 2vw;
    color: #EEE;
    font-size: 1.25vw;
    line-height: 2vw;
}

.hero div:first-child a
{
    width: 10vw;
    text-align: center;
    text-decoration: none;
    background-color: white;
    color: maroon;
    padding: 0.6vw;
    border-radius: 0.5vw;
    font-size: 1.1vw;
}

.hero div:last-child
{
    display: flex;
    justify-content: center;
    width: 50%;
    padding: 1vw;
}

.hero div:last-child img
{
    padding: 1vw;
    border: 0.1vw solid gray;
    border-radius: 1vw;
    background-color: #333;
}