.home-container
{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 90vh;
}

.hero
{
    display: flex;
    width: 100%;
    padding: 2vw;
    background-color: #b92e34;
    background-image: linear-gradient(326deg, #b92e34 0%, #3d0c02 74%);
    height: 30vw;
}

.hero div:first-child
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding: 6vw;
}

.hero div:first-child h1
{
    margin: 0;
    color: gold;
    font-size: 3vw;
}

.hero div:first-child h2
{
    margin: 0;
    margin-bottom: 0.5vw;
    color: white;
    font-size: 1.6vw;
}

.hero div:first-child hr
{
    width: 100%;
    margin-bottom: 1vw;
    border: 1px solid gold;
}

.hero div:first-child p
{
    margin: 0;
    margin-bottom: 2vw;
    color: #EEE;
    font-size: 1.2vw;
    line-height: 2vw;
}

.hero div:first-child a
{
    width: 10vw;
    text-align: center;
    text-decoration: none;
    background-color: goldenrod;
    color: white;
    padding: 0.6vw;
    border-radius: 0.5vw;
    font-size: 1.1vw;
}

.hero div:last-child
{
    display: flex;
    justify-content: center;
    width: 50%;
    padding: 1vw;
}

.hero div:last-child img
{
    padding: 1vw;
    border: 0.1vw solid gray;
    border-radius: 1vw;
    background-color: #333;
}

.features
{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 3.5vw 0;
    padding-bottom: 5vw;
    align-items: center;
}

.features h2
{
    margin: 0;
    margin-bottom: 1vw;
    font-size: 2vw;
    color: maroon;
}

.features p
{
    margin: 0;
    font-size: 1.1vw;
}

.feature-card-container
{
    display: flex;
    width: 100%;
    margin-top: 4vw;
    justify-content: center;
    gap: 3vw;
}

.feature-card
{
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 20vw;
    padding: 2vw;
    border: 1px solid maroon;
    border-radius: 1vw;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.feature-card:hover
{
    transition: transform 0.5s ease-in-out;
    transform: translateY(-1vw);
}

.feature-card img
{
    display: flex;
    width: 4vw;
    padding: 0.5vw;
    border: 1px solid black;
    background-color: goldenrod;
}

.feature-card h3
{
    font-size: 1.3vw;
    color: maroon;
}

.feature-card p
{
    color: #333;
    line-height: 1.6vw;
}